<%= title 'VCWiz' %>
<%= content_for :pack, 'vcfinder' %>
<%= content_for :logrocket, 'r4gq3r/vcwiz-prod' %>

<%= react_component('VCFinder') %>

<script>
  function triggerCreateInvestor(query) {
    $('.typeahead').trigger('vcwiz:createinvestor', query);
  }
</script>

<script id="no-result-template" type="text/x-handlebars-template">
  <div onclick="triggerCreateInvestor('{{query}}')" class="tt-suggestion">
    <div class="row">
      <div class="small-12 columns search-item">
        <p>
          Add {{query}}...
        </p>
      </div>
    </div>
  </div>
</script>