<% title 'Sign In' %>
<% header 'Sign In' %>

<p>Please sign in to your DRF Google account to access the voting site.</p>
<p>
  <%= button_to "Sign in with Google", omniauth_path('google_internal'), class: 'btn btn-large btn-primary' %>
</p>
