<% content_for :body do %>
  <p>
    Welcome back to VCWiz.
    Thanks for continuing to be a part of the community - this is your <%= @intro_request.investor.intro_requests.count.ordinalize %> incoming intro request.
  </p>

  <%= render partial: 'decision' %>
  <%= render partial: 'footer' %>
<% end %>