<%= title 'VCWiz Intro Request' %>

<% if @intro_request.accepted %>
  <p>
    You've confirmed <%= @intro_request.founder.name %>'s intro request! Look for an email soon :)
  </p>
<% else %>
  <p>
    You've denied <%= @intro_request.founder.name %>'s intro request!
  </p>
<% end %>