<%= title 'VCWiz Opt-In' %>

<% if !@intro_request.investor.opted_in %>
  <p>
    Thanks for letting us know! You won't get any more emails from us.
  </p>
<% else %>
  <p>
    Thanks for letting us know! You're now registered to receive email introductions from VCWiz.
  </p>
  <% if @intro_request.accepted %>
    <p>
      You've also confirmed <%= @intro_request.founder.name %>'s intro request! Look for an email soon :)
    </p>
  <% end %>
<% end %>