<div class="list-group-item-heading companies--list-group-item-heading">
  <p class="companies--large-heading text-<%= company_class(company) %>">
    <%= company.name %>
  </p>
  <% if company.pitched? %>
    <p class='companies--sub-heading'>
      <%= company.pitch.when.to_s(:long) %>
    </p>
  <% end %>
  <p class='companies--sub-heading'>
   <%= company.partner_names&.join(', ') %>
  </p>
</div>
