<div class='stat--heading'>
  <p class='stat--larger'>
    <%= value.is_a?(Integer) ? value : value.round(1) %>
  </p>
  <p class='stat--smaller'>
    <span class='<%= 'stat--underline' if local_assigns.fetch(:underline, false) %>'>
      <%= name.to_s.titleize %>
    </span>
  </p>
</div>
