<div class='stat--heading'>
  <p class='stat--larger'>
    <%=
      if local_assigns[:force_int]
        value.to_i
      elsif value.in?([true, false])
        (value ? '&#10003;' : 'No').html_safe
      elsif value.is_a?(Float)
        value.round(1)
      else
        value
      end
    %>
  </p>
  <p class='stat--smaller'>
    <span class='<%= 'stat--underline' if local_assigns.fetch(:underline, false) %>'>
      <%= name.to_s.titleize %>
    </span>
  </p>
</div>
