$light-gray: #e6e6e6;

input.top-search-bar, .tt-menu {
  max-width: 100%;
  width: 95vw;
  margin: 0 2vw;
}

.tt-menu {
  background-color: $light-gray;
}

.faded {
  color: gray;
}

.investors {
  padding: 1em;
}

.investor {
  width: 85vw;
}

.hollowButton {
  margin: 1em;
}

.category-buttons {
  width: 85vw;
}

.category-button {
  margin-right: 2em;
}

.investor-row {
  padding-bottom: 1em;
}

.card-section-multi {
  padding-top: 0;
  padding-bottom: 0;
}

.right-badge {
  margin-left: auto;
  font-size: 0.9em;
  padding-top: 0.1em;
  color: gray;
}

h3 {
  margin-bottom: 1rem;
}

.pad-top {
  padding-top: 2em;
}

.vcwiz-info {
  padding: 2em 1em 0;
}

.search-item {
  padding: 0.5em;
  border: 2px solid #ccd6dd;
  border-radius: 5px;
}

footer {
  position: static;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.badge {
  border-radius: 10%;
  margin-right: 0.5em;
  padding: 0.4em;
  margin-bottom: 0.6em;
}

.badge.success {
  color: white;
}