$light-gray: #e6e6e6;
$primary: #1779ba;

$added: #a8e4ff;
$waiting: #eef093;
$respond: #f1cbff;
$interested: #e1f7d5;
$pass: #ffbdbd;

.handsontable td.stage-added {
  background-color: $added;
}

.handsontable td.stage-intro {
  background-color: $waiting;
}

.handsontable td.stage-waiting {
  background-color: $waiting;
}

.handsontable td.stage-respond {
  background-color: $respond;
}

.handsontable td.stage-interested {
  background-color: $interested;
}

.handsontable td.stage-pass {
  background-color: $pass;
}

input.top-search-bar, .tt-menu {
  max-width: 100%;
  width: 95vw;
  margin: 0 2vw;
}

.tt-menu {
  background-color: $light-gray;
  z-index: 100000 !important;
}

.tt-suggestion {
  cursor: pointer;
}

.faded {
  color: gray;
}

.investors {
  padding: 1em;
}

.investor {
  width: 85vw;
}

.hollowButton {
  margin: 1em;
}

.full-button {
  width: 100%;
}

.category-buttons {
  width: 85vw;
}

.category-button {
  margin-right: 2em;
}

.category-button-sep {
  margin-right: 1em;
}

.investor-row {
  padding-bottom: 1em;
}

.card-section-multi {
  padding-top: 0;
  padding-bottom: 0;
}

.right-badge {
  margin-left: auto;
  font-size: 0.9em;
  padding-top: 0.1em;
  color: gray;
}

.pad-top {
  padding-top: 2em;
}

.pad-top-less {
  padding-top: 1rem;
}

.pad-vert-less {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.vcwiz-info {
  padding: 2em 1em 0;
}

.search-item {
  padding: 0.5em 0;
  border: 2px solid #ccd6dd;
  border-radius: 5px;
}

.search-item > .column, .search-item > .columns {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

h3, h6 {
  margin-bottom: 0;
}

footer {
  bottom: 0;
  width: 100%;
  text-align: center;
}

.badge {
  border-radius: 10%;
  margin-right: 0.5em;
  padding: 0.4em;
  margin-bottom: 0.6em;
  font-size: small;
}

.badge.small {
  font-size: x-small;
}

.badge.success {
  color: white;
}

.button.search-button {
  position: absolute;
  right: 4em;
  padding: .4rem 1rem;
  top: 0.8em;
}

.between-button-sep {
  font-size: x-large;
  position: relative;
  top: -0.1em;
  color: $primary;
}

.spreadsheet {
  width: 96vw;
  min-height: 75vw;
  margin: auto;
  overflow: hidden;
}

.line-icon {
  padding-right: 0.5rem;
}

p.icon {
  margin-bottom: 0.4rem;
}

.slick-next:before, .slick-prev:before {
  color: black;
}

.pull-right {
  margin-left: 0.3rem;
}

.import-header {
  min-width: 150px;
}

.intro-button {
  margin-top: 5px;
  margin-bottom: 5px;
}