@import "fonts";
@import "tabs";

$white: #FFFFFF;
$black: #000000;
$grey: #666666;
$header-grey: #434D59;
$mid-grey: #AAADAE;
$light-grey: #E9E9E9;
$lightest-grey: #F5F6F7;
$success: #2ADBC4;
$success-dark: #23CFB2;
$green: #34BF20;
$blue: #0D71E9;
$red: #E8441E;
$dark: #363844;

html, body, .full-screen {
  height: 100%;
  width: 100%;
}

.full-width {
  width: 100%;
}

.full-max-width {
  max-width: unset;
}

.full-height {
  height: 100%;
}

html, body, .full-screen, #vcwiz, h1, h2, h3, h4, h5, h6, input {
  font-family: 'Circular Std', CircularStd-Book, "Helvetica Neue", sans-serif;
}

body.ReactModal__Body--open {
  overflow: hidden;
}

p.tight {
  margin-bottom: 5px;
}

.button.success {
  background-image: linear-gradient(-180deg, $success 0%, $success-dark 100%);
  color: $white;

  &:focus, &:hover {
    background-image: linear-gradient(-180deg, $success-dark 0%, $success-dark 100%);
    color: $white;
  }
}

.sidebar {
  padding-top: 50px;

  .title {
    font-weight: bold;
  }

  h6 {
    text-transform: uppercase;
    font-weight: bold;
    color: $mid-grey;
    letter-spacing: 0.1em;
    padding-top: 10px;
  }

  .button-wrapper {
    padding-top: 15px;
  }
}

.rounded-image {
  background-color: $white;
  overflow: hidden;
  border: 1px solid $mid-grey;
  border-radius: 50%;

  img {
    object-fit: cover;
    border-radius: 50%;
    padding: 2px 2px 4px;
  }

  .fallback {
    font-size: 11px;
    text-align: center;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.modal-content {
  position: absolute;
  top: 8%;
  left: 8%;
  right: 8%;
  bottom: 8%;
  border: 1px solid $light-grey;
  background: $white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
}

.modal-content.no-background {
  background: unset;
  border: unset;
}

.modal-overlay, .modal-content {
  z-index: 1;
}

#top-bar, #signup-bar {
  .title {
    color: $white;
    cursor: pointer;

    &.left {
      padding-left: 2vw;
    }

    &.right {
      padding-right: 2vw;
    }

    a {
      color: inherit;
    }

    .line-icon {
      margin-left: 10px;
      vertical-align: -2px;
    }
  }

  .subtitle {
    font-weight: bold;
  }

  .subtitle.nudge-middle {
    vertical-align: middle;
  }

  .subtitle.nudge-right {
    margin-left: 5px;
  }

  h3, h5 {
    display: inline-block;
  }

  h3 {
    display: inline-block;
    padding-right: 0.5em;
  }
}


#signup-bar {
  height: 100px;
  background-color: $dark;

  button {
    border-radius: 5px;
    background: $white;
    margin: auto;
    color: $black;
    font-weight: bold;
  }

  .benefits {
    padding-top: 5px;

    .benefit {
      margin-right: 1.5em;
      margin-left: 10px;
      vertical-align: middle;
    }
  }
}

#top-bar {
  height: 85px;
  background-image: linear-gradient(-180deg, $success 0%, $success-dark 100%);
}

.faded {
  opacity: 0.8;
}

.filter-column {
  padding-left: 0;
  padding-right: 0;

  .Select-placeholder {
    color: $black;
  }

  .is-focused .Select-placeholder {
    color: $grey;
  }
}

.search-hero {
  padding-top: 75px;
  width: 75vw;
  margin: 0 auto;

  p {
    color: $grey;
  }

  .filters {
    padding-top: 25px;
  }

  .or {
    padding-top: 20px;
    padding-bottom: 5px;
  }
}

input.placeholded {
  border: none;
  outline: none;
  text-align: center;
}

.search-and-filters {
  .search {
    .line {
      border-bottom: 2px solid $light-grey;
      width: 230px;
    }

    i {
      padding-right: 6px;
    }

    i::before {
      color: $success-dark;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
  }
}

.vcwiz {
  &-page {
    background-color: $light-grey;
    overflow: scroll;
    display: flex;
    flex-flow: column;
    height: calc(100% - 85px);
  }

  &-header {
    padding: 30px 50px 0;
    background-color: $white;
    flex: 0 1 auto;
  }

  &-body {
    margin: 30px 50px;
    flex: 1 1 auto;
    display: flex;
  }
}

.filter-page {
  &-header {
    h6 {
      text-transform: uppercase;
      font-weight: bold;
      color: $mid-grey;
    }

    .option-switches {
      margin-bottom: 15px;

      p {
        font-size: smaller;
      }
    }

    .or {
      color: $grey;
      font-weight: bold;
      text-align: center;
      margin-top: 60px;
    }
    .search-and-filters {
      .search {
        margin-top: 35px;
      }

      .line {
        width: 220px;
      }
    }

    .wide-row {
      max-width: 95%;
    }

    .filters {
      .Select--multi .Select-multi-value-wrapper {
        padding-top: 2px;
      }
    }
  }

  &-body {
    margin: 0;
  }
}

.list-page {
  &-header {
    background-color: $light-grey;

    .title {
      font-size: large;
      font-weight: bold;
      padding-left: 1em;
      margin-bottom: 0;
    }
  }

  &-body {
    margin: 20px 0 0;
  }
}

.discover-page {
  &-header {
    margin-bottom: 10px;
    padding-bottom: 75px;
  }

  &-body {
    margin-top: 0;
    display: block;

    .inline-image {
      display: inline-block;

      &:not(:first-child) {
        margin-left: 8px;
      }
    }

    h6 {
      text-transform: uppercase;
      color: $mid-grey;
      font-size: 0.9rem;
      font-weight: bold;
    }

    .loading {
      padding-top: 10%;
      width: 200px;
      margin: auto;
    }

    .cards {
      padding-top: 50px;
      margin: auto;
      width: 100%;
    }

    .card-wrapper {
      .card {
        height: 165px;
        width: 100%;
        max-width: 350px;
        margin: auto;
        cursor: pointer;

        .card-section {
          position: relative;;
        }

        .body {
          position: absolute;
          bottom: 10px;
        }

        .title {
          font-weight: bold;
          font-size: 1.05em;
          line-height: 1.3em;
        }
      }
    }
  }
}

.outreach-page {
  &-header {
  }

  &-body {
    margin: 20px 0 0;

    .title-wrapper {
      margin-bottom: 15px;
    }

    .title {
      font-size: large;
      font-weight: bold;
      margin-right: 10px;
    }

    a {
      font-weight: bold;
    }

    .row {
      max-width: unset;
    }
  }
}

.toplevel-filter-page {
  .filters {
    padding-bottom: 25px;
  }
}

.filters {
  .Select-control {
    height: 50px;
    text-align: left;
  }

  .Select--multi .Select-placeholder, .Select--multi .Select-input {
    padding-top: 6px;
  }

  .Select--multi .Select-value-label {
    padding: 2px;
  }

  .Select--multi .Select-value {
    font-size: 1em;
    padding: 3px;
    color: unset;
    background-color: rgba(42, 219, 196, 0.24);
    margin-top: 7px;
  }

  .Select--multi .Select-value-icon {
    border-right: none;
  }

  .boxed {
    height: 50px;
    padding: 3px 5px;
  }

  .button.success {
    font-size: 1em;
    font-weight: bolder;
    border-radius: 5%;
    height: 100%;
    width: 100%;
    padding: 0;
  }
}

mark.highlighter {
  font-weight: bold;
  background-color: unset;
}

.company-container {
  img {
    bottom: 2px;
    position: relative;
  }

  p {
    margin-bottom: 0.25rem;
    font-size: small;
  }

  .company-name {
    font-size: medium;
  }

  .labels {
    .small {
      font-size: xx-small;
    }
  }

  .company-description-text {
    margin-top: 0.3em;
  }
}

.labels {
  bottom: 2px;
  position: relative;
  text-transform: capitalize;

  .label {
    margin-left: 5px;
    background: $success-dark;
  }

  .small {
    font-size: x-small;
  }
}

.labels-plain {
  margin-top: 5px;
  display: block;

  span {
    font-weight: bold;
    text-transform: capitalize;
  }
}

.fake-track-button {
  border-radius: 40px;
  width: 100%;
  font-weight: bold;
}

.fixed-table {
  width: 100%;
  height: 100%;

  .image-text {
    margin-left: 80px;
    width: calc(95% - 60px - 1rem);
  }

  .floating-image {
    position: absolute;
    top: 20px;
  }

  .header {
    background: $header-grey;
    color: $white;
    text-transform: uppercase;
    width: 100%;
    height: 100%;

    &.sortable {
      cursor: pointer;
    }

    .sort {
      font-size: x-large;
      vertical-align: middle;
      font-weight: bold;
    }
  }

  .table-main {
    border-color: $header-grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .textfit-cell {
    width: 95%;
    height: 100%;
    white-space: normal;
  }

  .text-block, .media-block {
    margin-top: 15px;
    margin-left: 10px;
  }

  .cell-wrapper {
    cursor: pointer;
  }

  .company-cell {
    .company-name {
      font-size: larger;
    }

    .labels {
      .small {
        font-size: small;
      }
    }
  }

  .image-text-cell {
    .subheading {
      color: $grey;
      font-size: smaller;
    }
  }

  .placeholder-cell {
    input.placeholded {
      background-color: inherit;
      text-align: left;
    }

    span.placeholder {
      display: block;
      line-height: 75px;
      color: $light-grey;
    }

    input.placeholded, span.placeholder {
      height: 75px;
      width: 100%;
    }
  }

  .intro-cell {
    text-align: center;

    .icon {
      margin: auto;
    }

    .not-available {
      color: $grey;
    }

    .line-icon {
      margin-right: 10px;
    }

    .green {
      color: $green;
    }

    .blue {
      color: $blue;
    }
  }

  .emoji-cell {
    text-align: center;
  }

  .null-state-cell {
    h5 {
      text-align: center;
      font-weight: bold;
    }
  }
}

.track-button {
  .Select-control {
    cursor: pointer;
  }

  .Select-control, .is-open > .Select-control {
    border-radius: 40px;
  }

  .Select-placeholder, .Select--single > .Select-control .Select-value {
    text-align: center;
  }

  .Select-placeholder {
    font-weight: bold;
    color: $white;
    background-color: $success;
    text-transform: uppercase;
  }
}

.partner-tab {
  .loading {
    margin: auto;
    width: 200px;
  }

  .line-icon {
    margin-right: 10px;
  }

  h5 {
    color: $grey;
  }

  .company-name, .post-name {
    font-weight: bold;
    font-size: medium;

    a {
      color: black;
    }
  }

  .company-description, .post-description {
    color: $grey;
    font-size: small;
    margin-bottom: 15px;
  }

  .tweet {
    margin-bottom: 1.5em;

    .line-icon {
      margin-right: 5px;
    }
  }
}

.emoji-modal {
  width: 100%;
  text-align: center;
  margin-top: calc(40% - 430px - 40px);

  .emoji-mart-scroll {
    height: 250px;
  }
}

.typeahead {
  .react-autosuggest__suggestions-container {
    padding-top: 20px;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
  }
}

.overlay-modal {
  background-color: $lightest-grey;
  min-height: 100%;

&-top {
    padding: 40px;
    background-color: $white;

    .inline-image {
      border-radius: 0;

      img {
        border-radius: 0;
      }
    }
  }

  &-bottom {
    padding: 30px;
  }

  p {
    margin-bottom: 0;
  }

  a {
    font-weight: 500;
    color: $success-dark;
  }

  .title {
    text-align: center;
  }

  .muted {
    color: $grey;
  }

  .heading {
    position: absolute;
    padding-left: 10px;
    display: inline-block;
    font-weight: bold;
    font-size: larger;
  }

  .subheading {
    position: relative;
    left: 51px;
    top: -31px;
    color: $grey;

    span {
      margin-left: 10px;
    }
  }

  span.dot {
    margin-right: 5px;
    margin-left: 5px;
  }

  .inline-image {
    display: inline-block;
  }

  .row {
    max-width: unset;
    margin-right: unset;
    margin-left: unset;
  }
}

.import_investors-modal {
  &-content {
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
  }

  &-top {
    .button-wrapper {
      text-align: center;
      margin-top: 2rem;

      .button {
        margin-bottom: 0;
      }
    }
  }

  &-bottom {
    overflow-x: auto;
    padding: 20px 0;
    margin-left: 10px;
    margin-right: 10px;

    .main {
      text-align: center;

      p {
        margin-bottom: 1rem;
      }
    }

    .progress-wrapper {
      width: 80%;
      margin: auto;
      text-align: center;

      .percent {
        color: $success;
      }
    }

    .loader {
      margin: auto;
    }

    .import-header {
      min-width: 200px;
    }

    .error-header {
      text-align: center;
    }
  }
}

.login-modal {
  display: grid;
  grid-template-rows: auto 1fr;

  .skip {
    font-size: smaller;
    color: $grey;
    position: relative;
    top: -0.5rem;
    padding-bottom: 0.5rem;
  }

  img {
    padding-top: 20px;
  }

  .filters {
    input[type="text"] {
      height: 50px;
    }

    .button.success {
      padding: 0.85em 1em;
    }

    .info {
      font-weight: bold;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  .row {
    max-width: 35rem;
    margin-right: auto;
    margin-left: auto;

    .filter-row-column {
      margin-bottom: 15px;
    }
  }
}

.research-modal {
  .tabs-component {
    .tab-list-wrapper {
      overflow: scroll;
      white-space: nowrap;
      height: 40px;
      width: calc(100% - 10px);
    }

    ul.tab-list {
      margin-bottom: 0;
      margin-left: 0;
      border: unset;
    }

    .tab-panel {
      border: 1px solid $grey;
      border-top: 0;
      border-radius: 0 10px 10px 10px;
      padding: 20px;
      background-color: $white;
    }

    .tab {
      border-bottom: 1px solid $grey;
    }

    .tab-active {
      border-color: $grey;
      border-bottom: 1px solid $white;
    }
  }

  .competitor-social {
    .line-icon {
      padding-right: 10px;
      vertical-align: -1px;
    }
  }

  .competitor-info {
    .description {
      margin-bottom: 1rem;
    }
  }
}

// Hacks

div.fixedDataTableRowLayout_rowWrapper > div > div > div:nth-child(2) {
  background-color: $header-grey;
}
