<% title 'Select Your Team' %>

<h4>Which team are you on?</h4>
<% Team.for_each do |team| %>
  <a
    class='btn btn-default select_team'
    data-method='post'
    data-params='<%= { team: team.name }.to_json %>'
    data-remote='true'
    href='<%= set_team_api_v1_user_path %>'
    role='button'
  >
    <%= team.name.titleize %>
  </a>
<% end %>
