<p>
  Hey <%= @founder.first_name %>!
</p>

<p>
  I wanted to let you know that <%= @investor.first_name %> at <%= @competitor.name %> is not interested in an introduction at this time.
  Sorry about that!
</p>

<p>
  VCWiz
</p>