<p>
  Hey <%= @founder.first_name %>!
</p>

<p>
  I wanted to let you know that I'm unable to introduce you to <%= @investor.first_name %> at <%= @competitor.name %>,
  since they have elected not to receive intros through VCWiz. Sorry about that!
</p>

<p>
  VCWiz
</p>