<p>
  Hey <%= @founder.first_name %>!
</p>

<p>
  Heads up—VCWiz Link has been disabled for your account because Google has revoked our permission to scan your inbox.
  If you didn't do this yourself, then the authorization might have just expired.
  If you want to re-enable Link, click <a href="<%= external_vcwiz_gmail_auth_url %>"><b>here</b></a>.
</p>

<p>
  VCWiz
</p>