<div>
  The following card (in the <%= @list_name %> column) must end with the string '<code>- Pitching MM/DD</code>':
  <a href="<%= @card_link %>"><%= @card_name %></a>.
  Please fix this as soon as possible.
</div>
