<% title @heading %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h1><%= @heading %></h1>
  </div>
  <div class="panel-body">
    <%= render partial: 'filter' %>
    <h4>
      Soon-to-be pitching companies are shown in blue. Companies being voted on are yellow.
    </h4>
  </div>
  <div class="list-group">
    <% @companies.each do |company| %>
      <a
        class="list-group-item companies--item"
        href="<%= company.past_deadline? ? company_path(company) : new_company_vote_path(company) %>"
      >
        <%= render partial: 'pitched_company', locals: {company: company} %>
      </a>
    <% end %>
  </div>
</div>
