<h1>Companies#index</h1>
<p>
  <ul>
    <li>Homepage</li>
    <li>Show list of companies, with upcoming pitch first</li>
    <li>Table with quorum stats, funding status</li>
    <li>Click to go to Votes#show</li>
  </ul>
</p>
