<h1>Vote#show</h1>
<p>
  <ul>
    <li>Funding status, quorum status</li>
    <li>Number of votes, number of yes, number of no</li>
    <li>Averages</li>
    <li>Button to vote</li>
    <li>All final votes in table</li>
    <li>All non-final votes in table</li>
  </ul>
</p>
