<div class="row">
  <div class="col-sm-6 text-success">
    <%= render partial: 'internal/shared/stat', locals: {name: 'yes', value: stats["yes_votes"], underline: vote.try(:yes?)} %>
  </div>
  <div class="col-sm-6 text-danger">
    <%= render partial: 'internal/shared/stat', locals: {name: 'no', value: stats["no_votes"], underline: vote.try(:no?)} %>
  </div>
</div>
<br>
<%= render partial: 'internal/shared/averages', locals: {stats: stats} %>
