<li class="list-group-item companies--item">
  <div class="list-group-item-heading">
    <p class="companies--name-heading companies--larger">
      <%= name %>
    </p>
    <p class='stats--large-heading <%= local_assigns.fetch(:value_class, '') %>'>
      <%= value %>
    </p>
    <div class="row">
      <% local_assigns.fetch(:items, []).each do |item| %>
        <%= yield(item) %>
      <% end %>
    </div>
  </div>
</li>
