<div class="col-sm-<%= 12 / item_count %>">
  <p class="companies--name-heading">
    <%= name %>
  </p>
  <p class='companies--heading <%= local_assigns.fetch(:value_class, '') %>'>
    <%= value %>
  </p>
</div>
