import React from 'react'
import Investor from './investor.jsx.erb'

const stages = <%= TargetInvestor::STAGES.to_json %>;

export default class Investors extends React.Component {
  renderTierButtons() {
    let tiers = _.uniq(_.map(this.props.targets, 'tier'));
    if (tiers.length < 2) {
      return null;
    }
    let buttons = tiers.map(tier =>
      <button
        type="button"
        className="button tier-button"
        key={tier}
        onClick={() => this.props.onTierChange(tier)}
      >
        Tier {tier}
      </button>
    );
    return (
      <div className="tier-buttons float-center text-center">
        {buttons}
      </div>
    );
  }

  render() {
    let targets = _.groupBy(_.filter(this.props.targets, {tier: this.props.tier}), 'stage');
    let components = [];
    Object.entries(stages).forEach(([key, title]) => {
      let group = targets[key];
      if (!group) {
        return;
      }
      components.push(<h3 key={key}>{title}</h3>);
      group.forEach(target => components.push(<Investor key={target.id} target={target} onStageChange={this.props.onStageChange} />));
    });

    return (
      <div className="investors">
        {this.renderTierButtons()}
        {components}
      </div>
    );
  }
}