import React from 'react'
import Investor from './investor.jsx.erb'

const stages = <%= TargetInvestor::STAGES.to_json %>;

export default class Investors extends React.Component {
  render() {
    let targets = _.groupBy(this.props.targets, 'stage');
    let components = [];
    Object.entries(stages).forEach(([key, title]) => {
      let group = targets[key];
      if (!group) {
        return;
      }
      components.push(<h3 key={key}>{title}</h3>);
      group.forEach(target => components.push(<Investor key={target.id} target={target} onStageChange={this.props.onStageChange} />));
    });
    return <div className="investors">{components}</div>;
  }
}