@import "variables";

.companies--list-group-item-heading {
  margin-bottom: 0;
}

.companies--large-heading {
  font-size: 4em;
  margin-bottom: -.04em;
}

.companies--heading {
  font-size: 1.5em;
  margin-top: 0.5em;
}

.companies--sub-heading {
  color: $muted;
  margin-bottom: 0;
}

.companies--smaller {
  font-size: 60%;
  margin-bottom: 0.5em;
}

.companies--filter-form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.companies--filter-input {
  text-align: center;
  background-color: $muted-white;
  color: $muted;
}

.companies--filter-input:focus::-webkit-input-placeholder
{
    color: transparent;
}
