$muted: #a9aebd;

.companies--list-group-item-heading {
  margin-bottom: 0;
}

.companies--large-heading {
  font-size: 4em;
  margin-bottom: -.04em;
}

.companies--heading {
  font-size: 1.5em;
  margin-top: 0.5em;
}

.companies--sub-heading {
  color: $muted;
  margin-bottom: 0;
}

.companies--smaller {
  font-size: 60%;
  margin-bottom: 0.5em;
}

.stat--heading {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.stat--underline {
  border-bottom: 1px groove;
}

.stat--larger {
  font-size: 3.8em;
  margin-bottom: -0.2em;
}

.stat--smaller {
  font-size: 0.7em;
  margin-bottom: 0;
  letter-spacing: .15em;
  color: $muted;
  text-transform: uppercase;
}
