@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic";
@import "variables";

.email-only {
  .container {
    background-color: #303030;
    color: $muted-white;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 20px;
  }

  .metric {
    font-size: 120%;
    color: $muted-white;
  }
  .result {
    font-size: 110%;
    color: $muted-white;
  }

  a {
    color: $navbar-focus;
    text-decoration: none;
  }

  .reason {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .success {
    color: $success;
  }

  .failure {
    color: $failure;
  }

  table {
    table-layout: fixed;
    background-color: #303030;
  }
}
