@import "variables";

.stat--heading {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.stat--underline {
  border-bottom: 1px groove;
}

.stat--larger {
  font-size: 3.8em;
  margin-bottom: -0.2em;
}

.stat--smaller {
  font-size: 0.7em;
  margin-bottom: 0;
  letter-spacing: .15em;
  color: $muted;
  text-transform: uppercase;
}
