<h1>Votes#create</h1>
<p>
  <ul>
    <li>If non-final exists, copy over. else blank</li>
    <li>Form with metrics, and (overall and reason) if non-final exists</li>
    <li>Submit button</li>
  </ul>
</p>
