<li class="list-group-item companies--item">
  <div class="list-group-item-heading">
    <p class="companies--name-heading companies--larger">
      <%= name %>
    </p>
    <p class='companies--large-heading <%= local_assigns.fetch(:value_class, '') %>'>
      <%= value %>
    </p>
  </div>
</li>
